html, body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: Arial, sans-serif;
  color: rgb(255, 0, 0);
  overflow: hidden;
}

canvas {
  display: block;
}

/* 标题 */
#title {
  position: absolute;
  top: 2%;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}

/* 时间轴 slider 容器 */
#slider-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}

#yearSlider {
  width: 100%;
  -webkit-appearance: none;
  height: 1px;
  background: rgb(255, 0, 0);
  accent-color: rgb(255, 0, 0);
}

/* 时间轴刻度 */
#yearMarks {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}

/* 备注文字，位于图例上方 */
#note {
  position: absolute;
  bottom: 100px;  /* 根据需要可微调 */
  left: 40px;
  font-size: 10px;
  z-index: 10;
}

/* 图例容器 */
#legend {
  position: absolute;
  bottom: 30px; /* 下移到和 slider 中心高度一致 */
  left: 40px;
  width:190px;
  height: 60px;
  font-size: 12px;
  z-index: 10;
  border: 1px solid rgb(255, 0, 0); /* 绿色边框 */
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 图例项目 */
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-item span {
  margin-left: 5px;
  line-height: 1.2;
}

/* 圆形图标（Atmospheric） */
.green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(0, 255, 0, 0.6);
}

.green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(0,255,0);
  margin-right: 5px;
  position: relative;
}

.blue {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(80, 0, 255);
  margin-right: 5px;
  position: relative;
}
